.title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
}
  
.text{
  font-size: 20px;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.name{
  padding: 16px 16px;
  display: block;
  margin: 20px 10px;
  border-left: 6px solid white;
  background-color: rgb(219, 239, 245);
  text-decoration: none;
  color: dimgray;
}

.name:hover{
  border-left: 6px solid navy;
}